<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PsicOrganize - Menu Principal</title>
    <link rel="stylesheet" href="../../style/style.css">
</head>
<body>
    <header>
        <div class="conteudo">
            <h1>PsicOrganize</h1>
            <h2>Menu Principal</h2>
            <nav>
                <ul>
                    <li><a href="pacientes.html">Pacientes</a></li>
                    <li><a href="agenda.html">Agenda</a></li>
                    <li><a href="#">Configurações</a></li>
                    <li><a href="login.html">Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="conteudo">
            <section class="secao-principal">
                <h2>Próximas consultas:</h2>
                <div class="proximas-consultas">
                    <div class="consulta">
                        <p>Data: 21/06/2024</p>
                        <p>Hora: 10:00</p>
                        <p>Paciente: João da Silva</p>
                    </div>
                    <div class="consulta">
                        <p>Data: 04/07/2024</p>
                        <p>Hora: 09:00</p>
                        <p>Paciente: Maria de Oliveira</p>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script src="../../services/scriptDashboard.js"></script>
</body>
<footer>
    <p>&copy; 2024 PsicOrganize. Todos os direitos reservados.</p>
</footer>
</html>
